@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
}

div {
    /* background-color: yellow; */
}

h1 {
    font-family: 'Inter', sans-serif;
	color: #171717fa;
}

p, a {
    font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
    font-weight: 400;
	color: #171717fa;
}

.judul {
    width: 70vw;
    height: auto;
    margin: 3em auto 1em auto;
    /* font-size: 1em; */
}

.landingpage {
    width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

.foto {
    width: 40vw;
    height: 50vh;
    margin: 0 auto 3em auto;
    /* background-color: gray; */
    text-align: center;
}

.foto img {
    width: 300px;
    /* background-color: yellow; */
    padding: 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.about {
    width: 70vw;
    height: auto;
    margin: 0 auto 1em auto;
    /* text-align: center; */
}

/* .about h1 {
    margin: 0 0 .2em 0;
    font-size: 1.7em;
    text-align: unset;
} */

/* .instagram {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.pic {
    width: 10vw;
    height: auto;
    background-color: yellow;
    text-align: center;
}

.pic img {
    height: 8vh;
} */

.text {
    width: 10vw;
    height: auto;
    /* background-color: yellow; */
}

.text p {
    font-size: 1.5em;
}

.education {
    width: 70vw;
    height: auto;
    margin: auto;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 1em;
}

.title {
    font-weight: 500;
    margin: .2em 0 0 0;
}

.smk {
    flex: 3;
}

.kuliah {
    flex: 3;
}

.experienced {
    width: 70vw;
    height: auto;
    margin: auto;
    display: flex;
    gap: 1em;
}

.desc {
    flex: 3;
}

.kantor {
    font-weight: 400;
}

.job {
    margin: .5em 0 0 0;
}

.freelance {
    flex: 3;
}

.skills {
    width: 70vw;
    height: auto;
    margin: auto;
    display: flex;;
}

.hard {
    flex: 1;
}

.soft {
    flex: 3;
}

.copyright {
	background-color: #222222fa;
	margin: 50px auto 0 auto;
	padding: 1em 0;
	box-sizing: border-box;
	text-align: center;
}

.copyright a {
    color: #d9d9d9;
	font-size: 1em;
	margin: 20px;
    font-weight: 500;
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 1.9em;
    }

    p, a {
        font-size: 1em;
    }

    .judul {
        width: 90vw;
    }

    .foto {
        width: 90vw;
        height: auto;
        margin: 0 auto 1em auto;
    }

    .foto img {
        width: 180px;
    }

    .about {
        width: 90vw;
        height: auto;
        text-align: left;
    }

    .instagram {
        width: 40vw;
        margin: 0 0 0 .5em;
        /* background-color: gold; */
    }

    .education {
        width: 90vw;
        display: block;
    }

    .smk {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .kuliah {
        margin-top: 1em;
    }

    .experienced {
        width: 90vw;
        display: block;
    }

    .desc {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .freelance {
        margin-top: 1em;
    }

    .skills {
        width: 90vw;
    }

    .hard {
        flex: 2.5;
    }

    /* .job {
        font-weight: 400;
    } */

    /* .thanks {
        width: 80vw;
    }

    .thanks h1 {
        font-size: 3em;
    } */
}