.judul {
    width: 70vw;
    height: auto;
    margin: 2em auto 1em auto;
    /* font-size: 1em; */
    /* background-color: yellow; */
}

.judul h1 {
    font-size: 28px;
}

.landingpage {
    width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

.foto {
    width: 70vw;
    height: 250px;
    margin: 0 auto 10em auto;
    text-align: center;
    background-image: url(../img/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 10% 10%;
    -webkit-border-radius: 0 0 10% 10%;
    -moz-border-radius: 0 0 10% 10%;
    -ms-border-radius: 0 0 10% 10%;
    -o-border-radius: 0 0 10% 10%;
}

.foto img {
    width: 250px;
    background-color: #F4F4FF;
    border-radius: 50% 20% 20% 20%;
    -webkit-border-radius: 50% 20% 20% 20%;
    -moz-border-radius: 50% 20% 20% 20%;
    -ms-border-radius: 50% 20% 20% 20%;
    -o-border-radius: 50% 20% 20% 20%;
    padding: 2px;
}

.about {
    width: 70vw;
    height: auto;
    margin: 0 auto 1em auto;
    /* text-align: center; */
    /* background-color: yellow; */
}

/* .about h1 {
    margin: 0 0 .2em 0;
    font-size: 1.7em;
    text-align: unset;
} */

/* .instagram {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.pic {
    width: 10vw;
    height: auto;
    background-color: yellow;
    text-align: center;
}

.pic img {
    height: 8vh;
} */

.text {
    width: 10vw;
    height: auto;
    /* background-color: yellow; */
}

.text p {
    font-size: 1.5em;
}

.education {
    width: 70vw;
    height: auto;
    margin: auto;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 1em;
}

.title {
    font-weight: 500;
    margin: .2em 0 0 0;
}

.smk {
    flex: 3;
}

.kuliah {
    flex: 3;
}

.experienced {
    width: 70vw;
    height: auto;
    margin: auto;
    display: flex;
    gap: 1em;
}

.desc {
    flex: 3;
}

.kantor {
    font-weight: 400;
}

.job {
    margin: .5em 0 0 0;
}

.freelance {
    flex: 3;
}

.skills {
    width: 70vw;
    height: auto;
    margin: auto;
    display: flex;;
}

.hard {
    flex: 1;
}

.soft {
    flex: 3;
}

.copyright {
	background-color: #222222fa;
	margin: 50px auto 0 auto;
	padding: 1em 0;
	box-sizing: border-box;
	text-align: center;
}

.copyright a {
    color: #d9d9d9;
	font-size: 1em;
	margin: 20px;
    font-weight: 500;
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 1.9em;
    }

    p, a {
        font-size: 1em;
    }

    .judul {
        width: 90vw;
        /* background-color: yellow; */
    }

    .foto {
        width: 90vw;
        height: 180px;
        margin: 0 auto 9em auto;
    }

    .foto img {
        width: 180px;
    }

    .about {
        width: 85vw;
        height: auto;
        text-align: left;
    }

    .instagram {
        width: 40vw;
        margin: 0 0 0 .5em;
        /* background-color: gold; */
    }

    .education {
        width: 85vw;
        display: block;
    }

    .smk {
        /* margin-top: 1.5em; */
        margin-bottom: 1em;
    }

    .kuliah {
        margin-top: 1em;
    }

    .experienced {
        width: 85vw;
        display: block;
    }

    .desc {
        /* margin-top: 1.5em; */
        margin-bottom: 1em;
    }

    .freelance {
        margin-top: 1em;
    }

    .skills {
        width: 85vw;
    }

    .hard {
        flex: 2.5;
    }

    /* .job {
        font-weight: 400;
    } */

    /* .thanks {
        width: 80vw;
    }

    .thanks h1 {
        font-size: 3em;
    } */
}