
.logo {
	width: 80vw;
	height: auto;
	margin: auto;
	/* background-color: yellow; */
	text-align: center;
}

.logo img {
	width: 40vw;
}

.logo h1 {
	font-size: 2.5em;
}

.text {
	width: 60vw;
	margin: 1em auto 3em auto;
}

.concept {
	width: 80vw;
	margin:  50px auto;
	display: flex;
	/* background-color: yellow; */
}

.con1 {
	text-align: center;
}

.con1 h1 {
	font-size: 2em;
}

.con1 img {
	width: 25vw;
}

.mockup {
	width: 80vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	position: relative;
	overflow: hidden;
	/* background-color: yellow; */
}

.mockup img {
	width: 80vw;
}

@media screen and (max-width: 680px) {
	h1 {
        font-size: 1.3em;
    }

    p, a {
        font-size: 1em;
    }

	.logo h1 {
		font-size: 2em;
	}

	.logo img {
		width: 70vw;
	}

	.text {
		width: 80vw;
	}

	.concept {
		display: block;
	}

	.con1 {
		margin-bottom: 2em;
		padding-bottom: .5em;
		border-bottom: 1px solid #171717fa;
	}

	.con1 img {
		width: 60vw;
	}
}