
.destination {
    width: 60vw;
    height: auto;
    margin: 2em auto;
    text-align: center;
}

.destination h1 {
    font-size: 2.5em;
	margin: .2em auto;
}

.variant {
    width: 98vw;
    height: 90vh;
    margin: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
	/* background-color: yellow; */
}

.choose {
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
	justify-content: center;
	align-items: center;
    overflow-x: auto;
    gap: 80px;
	/* background-color: gray; */
}

.choose::-webkit-scrollbar {
	display: none;
}

.web {
    width: 400px;
    /* width: 40vw; */
    height: auto;
    margin: auto;
    /* background-color: yellow; */
    border: 2px solid #1b19199d;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

.pic {
    width: 400px;
    height: 500px;
    /* background-color: #d9d9d9; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic img {
	width: 400px;
	height: 500px;
	border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

.about {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #171717;
    /* border: 2px solid black; */
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

.about h1 {
    color: #d9d9d9;
}

.text {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.text a {
    color: #d9d9d9;
    font-family: 'Acme', sans-serif;
	font-weight: bolder;
    font-size: 2em;
    text-decoration: none;
}

.text a:hover {
    color: #ff4111;
}

.copyright {
	background-color: #222222fa;
	margin: 50px auto 0 auto;
	padding: 1em 0;
	box-sizing: border-box;
	text-align: center;
}

.copyright a {
    color: #d9d9d9;
	font-size: 1em;
	margin: 20px;
    font-weight: 500;
}

@media screen and (max-width: 530px) {
	h1 {
        font-size: 1.9em;
    }

    p, a {
        font-size: 1em;
    }

	.destination {
		width: 80vw;
		margin: 1em auto;
	}

	.destination h1 {
		font-size: 2em;
	}

    .variant {
        height: 80vh;
        /* overflow: unset; */
    }

	.choose {
		height: 80vh;
		margin: auto;
	}

	.web {
		width: 340px;
	}

	.pic {
		width: 340px;
	}

	.pic img {
		width: 340px;
	}
}